body {
    background-color: lightgrey;
}
h1
{
    color: brown;
}
h2 { 
	color: black;
}
ul{ 
	color: blue; 
}
ol { color: green;
}
table {
	background-color: lightgrey;
	border: 2px solid blue;
	}
a { color: blue
 }
footer {
	color: maroon;
	}
dt {
	color: darkorchid;
	}