body {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
}
header {
	text-align: center;
	background-color: black;
}
h1 {
	font-family: Verdana;
    font-size: 20px;
    line-height: 1.3;
}
h2 {
	font-family: Verdana;
    font-size: 18px;
    line-height: 1.3; 
  }  
 h3 {
	font-family: Verdana;
    font-size: 16px;
    line-height: 1.3;     	
}
p {
    font-family: Verdana ;
    font-size: 13px;
    line-height: 1.5;
}
form{ font-family: Verdana;
    font-size: 15px;
    line-height: 1.5;
    float: center
}
.bilder {
	float: left;
	padding: 50px;
}
a:link { text-decoration: none;
}
a:hover { color: #FFFFFF; 
	background-color: #006699;
} 
.linespacing { line-height: 30px; }
.red { background-color: #66FF00; 
}
.round_corner_table {
width: 500px;
margin: 20px;
padding: 5px;
border: 3px solid #000000;
border-radius: 15px;
}
fieldset {
	float: center; 
	width: 300px;
	text-align: center;
	margin: 55px;
	background-color: #dddada;
}   
footer {
	clear: both;
	padding: 15px;
	text-align: center; 
	background-color: black;
	color: white;
}
legend {
	font-size:15px;
	font-family: Verdana ;
}
td {
	border: 1px solid black;
	padding: 20px;
}
article{
	width: 900px;
	margin: auto;	
}
.marknadsruta {
	width: 700px;
	text-align: center;
}
header img
{
	width: 100px;
	border: 3px solid lime;
	border-radius: 15px;

}
fieldset label{
	text-align: center;
}
div {
	text-align: center;
}